---
permalink: /feed.rss
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}/</link>
    <lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {% for post in collections.posts | reverse %}
    {% unless post.data.draft %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <description>{{ post.data.description | escape }}</description>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      {% if post.data.tags %}
      {% for tag in post.data.tags %}
      <category>{{ tag }}</category>
      {% endfor %}
      {% endif %}
    </item>
    {% endunless %}
    {% endfor %}
  </channel>
</rss>